/********************************************/
/********** INDICATOR SELECTION *************/
/********************************************/
#barCategories{
    float: left;
    display: inline-block;
    width: 330px;
    margin-right: 35px;
}
.resultsCopy.bars{
    margin-bottom: 30px;
    width: 100%;
}
.barCategoryRow{
    margin-bottom: 10px;
    cursor: pointer;
}
.barCategoryCheck{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #353535;
    top: 3px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    margin-right: 9px;
}
.barCategoryRow.active .barCategoryCheck{
    color: #1696d2;
    border: 1px solid #1696d2;
}
.barCategoryRow:hover .barCategoryCheck{
    border: 1px solid #fdbf11;
}
.barCategoryRow.active:hover .barCategoryCheck{
    color: #fdbf11;
}
.barCategoryLabel{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}
.barCategoryDescription{
    font-style: italic;
    margin-left: 34px;
}
.barCategoryDescription span{
    margin-left: 5px;
    margin-right: 5px;
    font-style: normal;
    top: -3px;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #353535;
    display: inline-block;
}
#tt-icon-cost{
    font-style: normal;
    width: 18px;
    height: 13px;
    display: inline-block;
    background: #9d9d9d;
    text-align: center;
    vertical-align: sub;
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    border-radius: 100%;
    padding-bottom: 5px;
    position: relative;
    top: -6px;
    margin-left: 5px;
    cursor: pointer;
}

.tt-container {
    position: absolute;
    color: #353535;
    font-family: Lato;
    background: #f3f3f3;
    text-align: left;
    padding: 22px 24px;
    border: 1px solid #d2d2d2;
    width: 160px;
    overflow-wrap: break-word;
    left: -96.5px;
    font-size: 14px;
    top: 29px;
    z-index: 3;
}
.tt-container:after, .tt-container:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tt-container:after {
    border-color: rgba(243, 243, 243, 0);
    border-bottom-color: #f3f3f3;
    border-width: 10px;
    margin-left: -10px;
}
.tt-container:before {
    border-color: rgba(210, 210, 210, 0);
    border-bottom-color: #d2d2d2;
    border-width: 11px;
    margin-left: -11px;
}



/********************************************/
/************* CHART PARTS ******************/
/********************************************/
#barChartContainer{
    float: left;
    display: inline-block;
    width: calc(100% - 370px);
    position: relative;

}
#barChart{
    float: left;
    display: inline-block;    
    top: -110px;
    position: relative;
}
.barNoSig{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
    margin-left: 60px;
}
.barNoSig span{
    width: 16px;
    height: 16px;
    background: #9d9d9d;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3.5px;
    border-radius: 100%;
}
.overunder{
    display: inline-block;
    float: left;
    transform-origin: top left;
    transform: rotate(-90deg);
    top: 598px;
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 900;
    color: #e88e2d;
    left: 20px;
}
.overunder.over{
    float: revert;
    top: 20px;
    top: 335px;
    right: -11px;
    left: auto;
    position: absolute;
    transform: rotate(90deg);
    color: #73bfe2;
    transform-origin: right top;
}


.bar_full_name{
    font-size: 14px;
}
.bar_full_name.background{
    fill: #fdbf11;
    opacity: 0;
}
.bar_full_name.hover{
    opacity: 1; 
}

.barDot{
    fill: #1696d2;
}
.barDot.underRepresented{
    fill: #ca5800;
}
.barDot.hover{
    stroke: #fdbf11;
    stroke-width: 4px;
}
.barDot.insig{
    /*stroke: #353535 !important;*/
    /*stroke-width: 2px !important;*/
    fill: #9d9d9d !important;
}
.lollipop{
    stroke: #46abdb;
    stroke-width: 2px;
}
.lollipop.underRepresented{
    stroke: #e88e2d;
}
.lollipop.foreground.insig{
    stroke: #d2d2d2 !important;
}
.lollipop.background{
    stroke: #fce39e;
    stroke-width: 8px;
    opacity: 0;
}
.lollipop.background.hover{
    opacity: 1;
}
.lollipop.foreground.hover{
    stroke-width: 4px;
}
.tick line{
    stroke: #dedddd;
    stroke-width: .5px;
}
.tick text{
    font-family: Lato;
    font-size: 13px;
}
#printBarLegend text{
    font-size: 14px;
    font-weight: bold;
}
#barChartImage{
    position: fixed;
    top: -3000px;
}