
.tt-icon {
    font-style: normal;
    width: 18px;
    height: 13px;
    display: inline-block;
    background: #9d9d9d;
    text-align: center;
    vertical-align: sub;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    border-radius: 100%;
    padding-bottom: 5px;
    position: relative;
    top: -3px;
    line-height: 1.2;
    margin-left: 5px;
    cursor: pointer;
}
.tt-icon[data-tt=disparity]{

}

.tt-container {
    position: absolute;
    color: #353535;
    font-family: Lato;
    background: #f3f3f3;
    text-align: left;
    padding: 22px 24px;
    border: 1px solid #d2d2d2;
    width: 160px;
    overflow-wrap: break-word;
    left: -96.5px;
    font-size: 14px;
    top: 29px;
    z-index: 3;
}
.tt-container:after, .tt-container:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tt-container:after {
    border-color: rgba(243, 243, 243, 0);
    border-bottom-color: #f3f3f3;
    border-width: 10px;
    margin-left: -10px;
}
.tt-container:before {
    border-color: rgba(210, 210, 210, 0);
    border-bottom-color: #d2d2d2;
    border-width: 11px;
    margin-left: -11px;
}



/********************************************/
/************* CHART PARTS ******************/
/********************************************/
#barChartContainer{
    float: left;
    display: inline-block;
    width: calc(100% - 370px);
    position: relative;

}
#barChart{
    display: inline-block;    
    position: relative;
}
.mobileLeg{
    display: none;
}

.chartRow{
    height: 40px;
    width: 100%;
    font-size: 16px;
    display: block;
    position: relative;
}
.chartToolTip{
    position: absolute;
    width: 400px;
    text-align: right;
    font-size: 16px;
    font-style: italic;
    top: 33px;
}
.chartRow.even{
    background: #feffff;
}
.chartRow.odd{
    background: #f5f5f5;
    cursor: pointer;
}
.chartCatLabel{
    width: 400px;
    text-align: right;
    padding-top: 9px;
    padding-right: 10px;
    display: inline-block;
    float: left;
}
.chartRow svg{
    display: inline-block;
    float: left;
}

.x.axis path, .x.axisTop path{
    display: none;
}
.y.axis{
    stroke: #353535;
    stroke-width: 2px;
    fill: none;
}

.tick line{
    stroke: #dedddd;
    stroke-width: .5px;
}
.tick text{
    font-family: Lato;
    font-size: 13px;
}
#printBarLegend text{
    font-size: 14px;
    font-weight: bold;
}
#barChartImage{
    position: fixed;
    top: -3000px;
}
.chartDot.hover.geo, .chartDot.hoverDrawer.geo{
    stroke: #fdbf11;
    stroke-width: 3px;
}
.chartDot.hover.subgeo,.chartDot.hoverDrawer.subgeo{
    fill: #fdbf11;
}


/********************************************/
/********** TOP LEGEND CONTROLS *************/
/********************************************/
#barChartTopContainer{
    display: block;
    position: relative;
    height: 140px;
    border-bottom: 2px solid black;
}
#barChartInstruction{
        /* height: 100px; */
    width: 380px;
    padding-right: 30px;
    /* float: left; */
    /* display: inline-block; */
    /* vertical-align: bottom; */
    position: absolute;
    bottom: 0px;
}
#barChartTopControls{
    display: inline-block;
    width: calc(100% - 410px);
    left: 410px;
    position: absolute;
    top: 0px;
}
#barChartTopLegend{
    display: inline-block;
    float: left;
    width: 300px;
    font-size: 14px;
    font-weight: bold;
}
#barChartTopMenuContainer{
    display: inline-block;
}
#barChartTopAxisContainer{
    height: 50px;
    width: 100%;
    top: 100px;
    position: absolute;
}