
.tt-icon {
    font-style: normal;
    width: 18px;
    height: 13px;
    display: inline-block;
    background: #9d9d9d;
    text-align: center;
    vertical-align: sub;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    border-radius: 100%;
    padding-bottom: 5px;
    position: relative;
    top: -3px;
    line-height: 1.2;
    margin-left: 5px;
    cursor: pointer;
}
.tt-icon[data-tt=disparity]{

}

.tt-container {
    position: absolute;
    color: #353535;
    font-family: Lato;
    background: #f3f3f3;
    text-align: left;
    padding: 22px 24px;
    border: 1px solid #d2d2d2;
    width: 160px;
    overflow-wrap: break-word;
    left: -96.5px;
    font-size: 14px;
    top: 29px;
    z-index: 3;
}
.tt-container:after, .tt-container:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tt-container:after {
    border-color: rgba(243, 243, 243, 0);
    border-bottom-color: #f3f3f3;
    border-width: 10px;
    margin-left: -10px;
}
.tt-container:before {
    border-color: rgba(210, 210, 210, 0);
    border-bottom-color: #d2d2d2;
    border-width: 11px;
    margin-left: -11px;
}



/********************************************/
/************* CHART PARTS ******************/
/********************************************/
#barChartContainer{
    float: left;
    display: inline-block;
    width: 100%;
    position: relative;

}
#barChart{
    display: inline-block;    
    position: relative;
    margin-left: 10px;
}
.mobileLeg{
    display: none;
}

.chartRow{
    height: 40px;
    width: 100%;
    font-size: 16px;
    display: block;
    position: relative;
}
.chartRow.even{
    background: #feffff;
}
.chartRow.odd{
    background: #f5f5f5;
    cursor: pointer;
}
.chartToolTip{
    position: absolute;
    width: 400px;
    text-align: right;
    font-size: 16px;
    font-style: italic;
    top: 33px;
}
.chartToolTip.highlight .barTT-name{
    background: #fdbf11;
}
.dotToolTip{
    position: absolute;
    top: 0px;
    left: 400px;
    z-index: 3;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
}
.dotToolTip:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 6px;
    margin-top: -6px;
}
.dotToolTip.flipped:after {
    left: 100%;
    right: 0%;
}
.chartRow.even .dotToolTip{
    background: #f5f5f5;
}
.chartRow.even .dotToolTip:after{
    border-right-color: #f5f5f5;
}
.chartRow.odd .dotToolTip{
    background: #feffff;
}
.chartRow.odd .dotToolTip:after{
    border-right-color: #feffff;
}
.chartRow.even .dotToolTip.flipped:after{
    border-right-color: rgba(255, 255, 255, 0);
    border-left-color: #f5f5f5;
}
.chartRow.odd .dotToolTip.flipped:after{
    border-right-color: rgba(255, 255, 255, 0);
    border-left-color: #feffff;
}
.chartCatLabel{
    width: 400px;
    text-align: right;
    padding-top: 9px;
    padding-right: 10px;
    display: inline-block;
    float: left;
}
.chartRow svg{
    display: inline-block;
    float: left;
}

.x.axis path, .x.axisTop path{
    display: none;
}
.y.axis{
    stroke: #353535;
    stroke-width: 2px;
    fill: none;
}

.tick line{
    stroke: #dedddd;
    stroke-width: .5px;
}
.tick text{
    font-family: Lato;
    font-size: 13px;
}
#printBarLegend text{
    font-size: 14px;
    font-weight: bold;
}
#barChartImage{
    position: fixed;
    top: -3000px;
    /*top: 300px;*/
    /*z-index: 99999999999999999;*/
}
.chartDot.hover.geo, .chartDot.hoverDrawer.geo, .chartDot.clicked.geo{
    stroke: #fdbf11;
    stroke-width: 3px;
}
.chartDot.hover.subgeo,.chartDot.hoverDrawer.subgeo, .chartDot.clicked.subgeo{
    fill: #fdbf11;
}
.chartDot.clicked.subgeo.hideClicked{
    fill: rgba(255,255,255,.5);
}
.chartDot.clicked.geo.hideClicked{
    stroke: #fff;
}
.chartDot.forceHover{
    fill: #fdbf11 !important;
}
.chartLineBG{
    opacity: 0;
    fill: none;
    stroke: #fdbf11;
    stroke-width: 10;
}
.chartLineBG.hover{
    opacity: 1;
}
.chartLineFG{
    fill: none;
    stroke-width: 2;
}
#barChartNotes{
    display: block;
    width: 100%;
    clear: both;
    font-size: 13px;
    margin-top: 0px;
    float: left;
    text-align: justify;
    margin-bottom: 35px;
}
#barChartNotes span{
    font-weight: bold;
}

/*******************************************
/********** TOP LEGEND CONTROLS *************/
/********************************************/
#barChartTopContainer{
    display: block;
    position: relative;
    height: 90px;
    border-bottom: 2px solid black;
}
#barChartInstruction{
        /* height: 100px; */
    width: 380px;
    padding-right: 30px;
    /* float: left; */
    /* display: inline-block; */
    /* vertical-align: bottom; */
    position: absolute;
    bottom: 0px;
    margin-bottom: 36px;
}
#barChartTopControls{
    display: inline-block;
    width: calc(100% - 410px);
    left: 410px;
    position: absolute;
    top: -50px;
}
#barChartTopLegend{
display: inline-block;
    float: left;
    width: 557px;
    margin-top: 46px;
    left: 0px;
    position: relative;
}
#barChartTopMenuContainer{
    display: inline-block;
    float: left;
    width: calc(100% - 557px);
}
#barChartTopMenu{
    margin: 0 auto;
    display: flow-root;
    width: fit-content;
}
#barChartTopMenuLabel{
font-weight: bold; */
    /* text-transform: uppercase; */
    margin-bottom: 0px;
    margin-top: 48px;
    /* float: right; */
    width: fit-content;
    /* margin: 0 auto; */
    font-size: 16px;
}
#barChartTopAxisContainer{
    height: 50px;
    width: 100%;
    top: 100px;
    position: absolute;
}
.barChartTopLegendCol{
    display: inline-block;
    float: left;
    margin-right: 39px;
    font-size: 16px;
}
.barChartTopLegendCol.insig{
    margin-right: 0px;
}
.barChartTopLegendHead{
    font-weight: bold;
    display: block;
    margin-bottom: 16px;
}
.barKeyDotGeo{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    float: left;
    margin-right: 4px;
    top: 2.5px;
    position: relative;
}
.barKeyDotGeo.under{
    background: #BC5F23;
}
.barKeyDotGeo.over{
    background: #1696d2;
}
.barKeyDotGeo.insig{
    background: #9d9d9d;
}
.barKeyLabelGeo{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.barKeyDotSubgeo{
display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 4px;
    top: 4px;
    position: relative;
}
.barKeyDotSubgeo.under{
    border: 1px solid #BC5F23;
}
.barKeyDotSubgeo.over{
    border: 1px solid #1696d2;
}
.barKeyDotSubgeo.insig{
    border: 1px solid #9d9d9d;
}
.barKeyLabelSubgeo{
    display: inline-block;
    float: left;
}





/********************************************/
/*********** STATIC BAR CHART ***************/
/********************************************/
.axisTop_static path{
    /*stroke-width: 2px;*/
    display: none;
}
#barTitle_static{
    font-size: 22px;
    font-weight: 700;
}
#barFootnotes_static{
    font-size: 11px;
}
#barFootnotes_static tspan{
    font-weight: 700;
}
#barLogo_static{
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 15px;
}
#barLogo_static tspan{
    fill: #1696d2;
}