/********************************************/
/************* LOADER TEXT *****************/
/******************************************/

#loaderContainer{
    color: #353535;
    width: 100%;
    height: 1000px;
    background: white;
    position: absolute;
    text-align: 0;
    top: 0px;
    display: none;
}
.hiddenSection{
    display: none !important;
}
.loaderHeader{
    font-weight: bold;
}
h2.loaderHeader{
    font-size: 40px;
    margin-top: 52px;
    margin-bottom: 25px;
    text-align: center;
}
h3.loaderSubHeader{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}
.loaderHeader span.weak{
    font-weight: normal;
}
.loaderSection p, #loadingStatusContainer{
    font-size: 24px;
    line-height: 146%;
    text-align: center;
    font-weight: 300;
    width: 650px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}
.inputLabel{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 7px;
}

.loaderNote.filters{
    font-size: 16px;
    font-style: italic;
    width: 320px;
    line-height: 146%;
    margin-top: -20px;
    margin-bottom: 30px;
    display: none;
}
.loaderNote.small.filters{
    font-size: 12px;
}
.loaderNote.biggun.filters{
    margin-bottom: 42px;
}
.loaderNote.active{
    display: block;
}
.loaderNote{
    white-space: normal;
}

/********************************************/
/************* LOADER LAYOUT ****************/
/********************************************/

#fileInput, #fileSubmit{
    display: none
}
#loaderContainer{
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 6;
}
.loaderSection{
    position: absolute;
    display: none;
    width: 880px;
    background: white;
    top: 0px;
    left: calc(50% - 440px);
    z-index: 6;
}
.loaderSection.filters p{
    font-style: italic;
}
.loaderSection.active{
    display: block;
}
.advancedButtonRow{
    display: table;
    margin: 0 auto;
    clear: both;
}
.advancedButtonRow .button{
    width: 130px;
    text-align: center;
}
.cancelButton{
    margin-right: 50px;
}
#uploadErrors{
    display: none;
    color: #D02828;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 56px;
}

#weightError{
    display: none;
    color: #D02828;
    font-style: italic;
    width: 366px;
    text-align: center;
    margin: 0 auto;
    margin-top: -4px;
    margin-bottom: 56px;
    padding-left: 30px;
}
.errorX{
    width: 21px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 8px;
}
#weightError .errorX{
    position: relative;
    top: -14px;
}
.errorText{
    display: inline-block;
}
#weightError .errorText{
    width: 319px;
    text-align: left;
}
#uploadErrorContent, #weightErrorContent{
    display: inline-block;
    margin: 0 auto;
    width: auto;
}

/********************************************/
/************* HOME ****************/
/********************************************/
.buildings.loader, .buildings.results{
    width: 350px;
    margin: 0 auto;
    display: block;
    margin-top: 68px;
}
#sampleButton{
    margin-right: 46px;
}
#homeButtonRow{
    display: table;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 122px;
}
.loaderHome{
    max-width: 650px;
    margin: 0 auto;
    line-height: 146%;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}
/********************************************/
/************* UPLOAD DATA ****************/
/********************************************/

#uploadInstructionContainer{
    position: relative;
}
#dropbox {
    display: inline-block;
    width: 280px;
    height: 186px;
    cursor: pointer;
    position: absolute;
    top: 43px;
}
#innerDropbox{
    border: 2px dashed #FCE39E;
    position: relative;
    top: 9px;
    left: 9px;
    width: calc(100% - 22px);
    height: calc(100% - 22px);
}
#dropbox.active #innerDropbox{
    border: 2px dashed #98CF90;
}
#dropboxIcon{
    width: 65px;
    margin: 0 auto;
    margin-top: -35px;
    display: block;
}
#dropboxClick{
    font-weight: 900;
    font-size: 20px;
    margin-top: 18px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    color: #1696d2;
}
#dropboxDrag{
    font-size: 20px;
    line-height: 24px;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#dropboxDrag.filename{
    font-style: italic;
}

#uploadInstructions{
    display: inline-block;
    width: calc(100% - 316px);
    margin-left: 50px;
    position: relative;
    left: 260px;
}
.instructionRow{
    margin-bottom: 16px;
}
.instructionRow img{
    width: 21px;
    margin-right: 8px;
    position: relative;
    top: 4px;
}
.instructionRow span{
    font-size: 16px;
}
#uploadLatLonContainer.hidden{
    /*display: none;*/
}

#uploadLatLonContainer{
    display: block;
    margin: 0 auto;
    width: 610px;
}
#uploadLatLonContainer h4{
    font-size: 22px;
    margin-bottom: 28px;
    margin-top: 50px;
}
#latContainer, #lonContainer{
    display: inline-block;
    float: left;
    width: 287px;
}
#lonContainer{
    margin-right: 35px;
}
#uploadLatLonContainer .ui-selectmenu-button.ui-button{
    display: inline-block;
    float: left;
    width: 190px;
}
#uploadLatLonContainer .inputLabel{
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 10px;
    top: 16px;
}
#uploadButtonContainer, #sampleButtonContainer{
    position: relative;
    display: block;
    clear: both;
    width: 439px;
    margin: 0 auto;
    margin-top: 125px;
}
#advancedOptionsUser-button, #advancedOptionsSample-button{
    width: 197px;
    height: 46px;
    color: #1696d2;
    border: 2px solid #1696d2;
    background: #fff;
    display: inline-block;
}

#advancedOptionsUser-button .ui-selectmenu-text, #advancedOptionsSample-button .ui-selectmenu-text{
    opacity: 0;
    font-size: 18px;
    font-weight: 400;
    color: #1696d2;
    top: 9px;
    width: 134px;
}
#advancedTextOverlayUser, #advancedTextOverlaySample{
    position: absolute;
    z-index: 2;
    font-size: 18px;
    font-weight: 400;
    color: #1696d2;
    top: 13px;
    left: 16px;
    pointer-events: none;
}
#advancedTextOverlayUser img, #advancedTextOverlaySample img{
    width: 20px;
    margin-left: 4px;
}
.runButton{
    margin-left: 61px;
    top: -13px;
    position: relative;
    width: 128px;
    text-align: center;
}



/********************************************/
/************* WEIGHT DATA ******************/
/********************************************/
#weightContainer{
    width: 583px;
    margin: 0 auto;
    margin-bottom: 18px;
}
#weightMenuContainer{
    width: 334px;
    display: inline-block;
}
#weightSelect-button{
    max-width: 334px;
}
#weightShowContainer{
    width: 193px;
    display: inline-block;
    margin-left: 50px;
    top: -16px;
    position: relative;
}

/********************************************/
/************* SET BASELINE ****************/
/********************************************/
#baselineOptions, #baselineInstructions{
    display: inline-block;
    float: left;
    /*width: 50%;*/
    margin-bottom: 12px;
}
#baselineOptions{
    width: 60%;
}
#baselineInstructions{
    width: 40%;
}
.baselineRow{
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 20px;
}
.baselineRadio{
    display: inline-block;
}
.baselineText{
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: -4px;
}
.baselineInstructionRow img{
    width: 40px;
    display: inline-block;
    margin-right: 25px;
    float: left;
    position: relative;
    top: 28px;
}
.baselineInstructionRow div{
    font-size: 18px;
    display: inline-block;
    width: calc(100% - 110px);
    height: 134px;
    line-height: 1.7;
}
.baselineInstructionRow div span{
    color: #1696d2;
    font-weight: bold;
    border-bottom: 2px dotted;
    padding-bottom: 4px;
}
#whatsthiswhatsthis{
    font-size: 14px;
    font-style: italic;
    margin-left: 16px;
    position: relative;
    top: -2px;
}


/********************************************/
/************** ADD FILTERS *****************/
/********************************************/
#filterControls, #filterListContainer{
    display: inline-block;
    float: left;
    width: 323px;
    white-space: nowrap;
}
#filterColumnContainer{
    width: fit-content;
    margin: 0 auto;
}
#filterListContainer{
    margin-top: 17px;    
}
#filterControls{
    margin-right: 55px;
}
.filterContainer{
    display: none;
}
.filterContainer.active{
    display: block;
}
#numericSelect, #textSelect{
    height: 45px;
    border: 1px solid #D2D2D2;
    display: inline-block;
    margin-bottom: 50px;
    top: 3px;
    position: relative;
    width: 211px;
    padding-left: 20px;
    font-family: Lato;
    font-size: 18px;
}

#numComSel-button, #textComSel-button{
    display: inline-block;
    height: 45px;
    width: 73px;
    margin-bottom: 0px;
    margin-right: 9px;
}

#numComSel-button .ui-selectmenu-text, #textComSel-button .ui-selectmenu-text{
    width: 41px;
    margin-right: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    top: 4px;
    font-weight: bold;
}
#numComSel-menu .ui-menu-item, #textComSel-menu .ui-menu-item{    
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;

}

input[type=date]{
    height: 45px;
    padding-left: 10px;
    font-family: Lato;
    text-transform: uppercase;
    color: #696969;
    border: 1px solid #d2d2d2;
}
#startDateContainer, #dateTo, #endDateContainer{
    display: inline-block;
    margin-right: 10px;
}
#dateRangeRow{
    cursor: pointer;
    margin-bottom: 44px;
}
#dateRangeBox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #1696d2;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-right: 7px;
    cursor: pointer;
    background: #fff;
}
#dateRangeBox.active{
   color: #1696d2; 
}
.endDateComponent.hidden{
    display: none !important;
}
#addButton{
    font-size: 24px;
    font-weight: 300;
    color: #1696d2;
    cursor: pointer;
    padding-bottom: 1px;
    text-transform: uppercase;
    margin-top: -17px;
    margin-bottom: 45px;
}
#addButton:hover{
    text-decoration: underline;
}
#appliedHeader{
    font-size: 1.17em;
    font-weight: bold;
    color: #353535;
    padding-bottom: 1px;
    margin-bottom: 20px;
}
#addButton.disabled{
    color: #9D9D9D;
    pointer-events: none;
}
.filterTag{
    background: #ececec;
    width: 290px;
    padding: 13px 15px;
    margin-bottom: 18px;
    display: none;
    position: relative;
}
.filterTag.visible:last-child{
    margin-bottom: 50px;
}
.filterTag.visible{
    display: block;
}
.filterTagText{
    width: 270px;
    overflow: ellipses;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.closeTag{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
}
.closeTag img{
    width: 100%;
}


/********************************************/
/************** SAMPLE DATA *****************/
/********************************************/

/************** BORDER ANIMATION *****************/
.draw-border.red{
  box-shadow: inset 0 0 0 2px #F1AAA9;
  color: #F1AAA9;
}
.draw-border.red:hover, .draw-border.red.active {
  color: #E25552;
}
.draw-border.red.active {
    box-shadow: inset 0 0 0 2px #E25552;
}
.draw-border.red:hover::before, .draw-border.red:hover::after, .draw-border.red.active::before, .draw-border.red:hover::after {
  border-color: #E25552;
}  

.draw-border.green{
  box-shadow: inset 0 0 0 2px #98CF90;
  color: #98CF90;
}
.draw-border.green:hover, .draw-border.green.active {
  color: #408941;
}
.draw-border.green.active{
  box-shadow: inset 0 0 0 2px #408941;
}
.draw-border.green:hover::before, .draw-border.green:hover::after, .draw-border.green.active::before, .draw-border.green.active::after  {
  border-color: #408941;
}  

.draw-border.blue{
  box-shadow: inset 0 0 0 2px #73BFE2;
  color: #73BFE2;
}
.draw-border.blue:hover, .draw-border.blue.active {
  color: #12719E;
}
.draw-border.blue.active {
  box-shadow: inset 0 0 0 2px #12719E;
}
.draw-border.blue:hover::before, .draw-border.blue:hover::after, .draw-border.blue.active::before, .draw-border.blue.active::after {
  border-color: #12719E;
}  

.draw-border {
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}
.draw-border::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.draw-border:hover::before, .draw-border:hover::after {
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}
/************** END BORDER ANIMATION *****************/
.loaderSection.sample{
    width: 945px;
}
#sampleButtonContainer {
    margin-top: 71px;
}
#sampleCardContainer{
    width: fit-content;
    margin: 0 auto;
    margin-top: 44px;
}
.sampleCard{
    display: inline-block;
    float: left;
    width: 260px;
}
.sampleCard.singleCard{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.sampleCard.three11.singleCard{
    margin-left: 64px;
}
.sampleCard.inactive{
    display: none;
}
.sampleCard.three11{
    margin-right: 76px;
}
.sampleCard.hotspots{
    margin-right: 76px;
}
.sampleRect{
    background: white;
    cursor: pointer;
    border: none;
    width: 260px;
    height: 85px;
    position: relative;
}
.sampleRect.bike.active{
    margin-right: 75px;
}
.sampleInner{
    pointer-events: none;
}
.sampleName{
    position: absolute;
    top: 19px;
    left: 16px;
    font-size: 18px;
    font-weight: bold;
}
.sampleCity{
    left: 16px;
    position: absolute;
    top: 45px;
}
.sampleImg{
    position: absolute;
    z-index: 2;
}
.sampleImg.wifi{
    height: 67px;
    right: -12px;
    top: 13px;
}
.sampleImg.three11{
    height: 60px;
    top: 14px;
    right: 10px;
}
.sampleImg.bike{
    position: absolute;
    height: 77px;
    right: 13px;
    top: -14px;
}
.sampleDownload{
    color: #1696d2;
    font-style: italic;
    font-weight: 400;
    position: relative;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 2px;
    display: none;
}
.sampleDetails{
    display: none;
}
.sampleDetails.active{
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin-top: 44px;
    margin-bottom: 34px;
    width: 260px;
}
.sampleDeetHeader, .appliedDeetHeader{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 25px;
}
.deetRow{
    margin-bottom: 20px;
}
.deetRow img{
    float: left;
    display: inline-block;
    width: 21px;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.deetRow.strike{
    text-decoration: line-through;
}
.deetRow.none div{
    font-size: 20px;
    font-style: italic;
    margin-top: -14px;
}
#sampleDownloadContainer{
    clear: both;
    width: fit-content;
    margin: 0 auto;
    padding-top: 18px;
}
.appliedDeetHeader{
    margin-top: 33px;
    display: none;
}
.appRow{
    margin-bottom: 20px;
}
.appRow img{
    float: left;
    display: inline-block;
    width: 21px;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.deetSubHed, .appSubHed{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}
.deetText{
    width: fit-content;
    padding-left: 35px;
}
.strikethrough{
    display: block;
    background: #000;
    height: 1px;
    position: relative;
    top: -9px;
    left: -43px;
    width: calc(100% + 53px);
}

.deetRow.none .strikethrough{
    top: 3px;
    left: -10px;
    width: calc(100% + 20px);
}
.deetRow.none .deetText{
    padding-left: 0px;
}
.strikethrough.hidden{
    display: none;
}
/********************************************/
/************ LOADING SCREEN ****************/
/********************************************/

#loadingContainer{
    width: 544px;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
}
.loadingErrorImg{
    display: none;
}
.loadingImg{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
}
.loaderSectionStatus{
    display: none;
}
.errorLight{
    font-weight: 300;
    display: block;
}
#loadingErrorContainer{
    margin-top: -20px;
}
.loadingError{
    display: none;
}
.errorX.loading{
    display: inline-block;
    float: left;
    width: 28px;
    top: 33px;
    margin-right: 0px;
    position: relative;
}
.loadingErrorText{
    color: #D02828;
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 46px;
}
.loadingErrorRow{
    clear: both;
    display: block;
    margin-bottom: 50px;
    width: fit-content;
}
#errorNavContainer{
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}
.errorNavComponent{
    display: inline-block;
    float: left;
    cursor: pointer;
}
.errorNavComponent img{
    height: 30px;
    display: inline-block;
}
.errorNavComponent div{
    display: inline-block;
    color: #1696d2;
    font-weight: 500;
    font-size: 21px;
    position: relative;
    top: -8px;
}
.errorNavComponent:hover div{
    font-weight: 700;
}
#errorNavBack, #errorNavBackFilter{
    margin-right: 40px;
}
#errorNavBack img, #errorNavBackFilter img{
    margin-right: 5px;
}
#errorStartOver img{
    margin-left: 5px;
}