/********************************************/
/**************** MAP LAYOUT ****************/
/********************************************/



.sliderMap{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#mapComparison * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mapSlideContainer{
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: calc(100% - 400px);
    height: 500px;
}
#mapComparison{
    /*display: none;*/
}
#diffMap{
    
}
#mapComparison, #diffMap{
    width: 100%;
    height: 500px;
    position: relative;
    display: inline-block;
    float: left;
}
.mapboxgl-canvas {
    /*cursor: url(../images/point-up-cursor.png) 0 3, pointer !important*/
}
/********************************************/
/**************** CONTROLS ******************/
/********************************************/

#mapControls{
    width: 330px;
    display: inline-block;
    margin-right: 70px;
    float: left;
}
.controlContainer{
    position: relative;
    margin-bottom: 22px;
    cursor: pointer;
}
.radioContainer{
    position: absolute;
}
.controlName{
    left: 32px;
    position: relative;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 18px;
}
.controlDescription{
    left: 32px;
    position: relative;
    line-height: 146%;
    font-style: italic;
}
.radio.large{
    width: 22px;
    top: 1.5px;
    position: relative;
}
.radio.checked{
    display: none;
}
.radio.unchecked{
    display: inline-block;
}
.controlContainer.active .radio.checked{
    display: inline-block;
}
.controlContainer.active .radio.unchecked{
    display: none;
}





/********************************************/
/*************** TOOLTIP ********************/
/********************************************/
/*.mapboxgl-popup-content{
    border-radius: 0px;
    font-family: Lato;
    width: fit-content;
    width: -moz-fit-content;
    padding-bottom: 0px;
    content: #353535;
}
.mapboxgl-popup-content .tt-name{
    white-space: normal;
    line-height: 100%;
    font-size: 12px;
    font-family: Lato;
    font-style: italic;
    color: #9d9d9d;
    text-transform: uppercase;
    margin-bottom: 8px; 
}
.tt-contains{
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 6px;
}
.tt-row{
    font-size: 14px;
}
.tt-val{
    font-weight: bold;
    display: inline-block;
    float: left;
    width: 69px;
    text-align: right;
    margin-right: 9px;
}
.tt-val.baseline{
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.tt-val.baseline span{
    float: left;
    font-size: 22px;
    font-weight: normal;
}
.tt-text{
    display: inline-block;
    float: left;
}
.tt-row{
    display: flex;
    margin-bottom: 4px;
    clear: both;
}
.tt-diff-row{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    height: 28px;
    padding-top: 6px;
    left: -10px;
    position: relative;
    padding-left: 10px;
    width: calc(100% + 10px);
}


.tt-contains.slider{
    font-weight: normal;
}
.tt-val.slider{
    border-bottom: 5px solid rgb(133, 199, 230);
    float: none;
    width: auto;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 18px;
    font-weight: 900;
}
.tt-text.slider{
    margin-top: -4px;
    padding-bottom: 13px;
    max-width: 180px;
    white-space: normal;
}
.tt-noSigDiff{
    width: 193px;
    white-space: normal;
    line-height: 16px;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 12px;
    color: #9d9d9d;
}
*/

#mtt-container{
    font-size: 14px;
    margin-left: 31px;
    margin-top: 13px;
    display: none;
}
#mtt-title{
    text-transform: uppercase;
    color: #9d9d9d;
    margin-bottom: 4px;
}
#mtt-data-hed{
    font-weight: 700;
    margin-bottom: 8px;
}
#mtt-data{
    position: relative;
}
.mtt-data-row{
    margin-left: 30px;
    margin-bottom: 13px;
}
#mtt-da_prop, #mtt-da_baseline, #mtt-da_rep{
    font-weight: 700;
}
#mtt-takeaway, #mtt-no_sig{
    line-height: 21px;
}
#mtt-no_sig{
    display: block;
    font-size: 16px;
    color: #9d9d9d;
    font-style: italic;
}
#mtt-background{
    position: absolute;
    width: 275px;
    height: 34px;
    z-index: -1;
    top: 17px;
}



/********************************************/
/***************** LEGENDS ******************/
/********************************************/
#legendSlideContainer{
    white-space: nowrap;
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;
    width: 625px;
    height: 91px;
    left: -18px;
}
.mapLegend{
    height: 97px;
    clear: both;
}
.legendTitle{
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;    
}
.legendStop, #diffNAText{
    font-size: 12px;
    font-weight: normal;
}
#diffNARect{
    background: #9d9d9d;
    /*border: 2px solid #353535;*/
    width: 23px;
    height: 20px !important;
}
#diffNA{
    display: block;
    float: left;
    margin-left: 22px;
    margin-top: 7px;
}
#diffNAText{
    margin-bottom: 7.5px;
    position: relative;
    top: 25px;
    font-size: 14px;
    font-weight: normal;
    left: 30px;   
}
#pointUp{
    display: none;
    position: absolute;
    top: 21px;
}
#pointUp.slide{
    top: 27px;
}
#pointUp img{
    width: 24px;
    top: 40px;
    margin-left: 5px;
}
#pointUpText{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 13px;
    text-align: center;
}
.mapLegend.diff svg{
    display: inline-block;
    float: left;
}
#exploreMore{
    display: inline-block;
    width: 100%;
    margin-bottom: 90px;
    text-align: center;
    margin-top: 47px;
}