.mobileOnly, #boorgerContainer, .mobileOnlyHeader, .mobileTabs, .dropboxDrag.mobile{
    display: none;
}
#widthBelow1000, #widthBelow1200, #widthBelow768, #widthBelow500{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
}
#mobileAdvancedMenu, #mobileMainMenu, #mobileTT{
    display: none;
}
.backButton .mobilearrow{
    display: none;
}
@media(max-width: 1400px){
    .headerIcon, .resultsHeader.maps .headerIcon {
        margin-right: 6px;
        margin-left: -43px;
    }
}
@media(max-width: 1200px){
    #widthBelow1200{
        display: block;
    }
    #diffNA{
        clear: both;
        margin-top: 0;
        height: 10px;
        position: relative;
        top: -37px;
        left: -4px;
    }
    #legendSlideContainer{
        height: 105px;
        width: 425px;
    }
    .mapLegend{
        height: 111px;
    }
}
@media(max-width: 1000px){
    #widthBelow1000{
        display: block;
    }
    #widthBelow1200{
        display: none;
    }
    .sampleCard, .sampleRect{
        width: 230px;
    }
    .sampleCard{
        /*left: 11px;*/
        position: relative;
    }
    .sampleCard.three11, .sampleCard.hotspots{
        margin-right: 16px;
    }
    .sampleName {
        top: 22px;
        left: 15px;
        font-size: 16px;
    }
    .sampleCiity{
        left: 14px;
        position: absolute;
        top: 42px;
    }
    .sampleImg.bike {
        position: absolute;
        height: 69px;
        right: 14px;
        top: -6px;
    }
    .sampleImg.three11 {
        height: 50px;
        top: 18px;
        right: 10px;
    }
    #mapControls{
        margin-right: 0px;
        width: 100%;
    }
    .controlDescription{
        width: calc(100% - 30px);
    }
    #mapSlideContainer{
        width: calc(100% + 67px);
        left: -30px;
    }
        #baselineSelect-button .ui-selectmenu-text {
        left: 11px;
        font-weight: bold;
        font-size: 16px;
        top: -3px;
    }
    #baselineSelect-button{
        height: 29px;
        margin-top: -40px;
        left: -7px;
        width: 100%;
        max-width: 400px !important;
    }

    #mapControls .controlContainer{
        width: 50%;
        display: inline-block;
        float: left;
    }
    #barCategories, #barChartContainer{
        width: 100%;
    }


}
@media(max-width: 768px){
    #widthBelow1000{
        display: none;
    }
    #widthBelow1200{
        display: none;
    }
    #widthBelow768{
        display: block;
    }
    .startOver, #header-pinned .title, #advancedOptionsSample-button, #advancedOptionsUser-button, #sampleDefaultText, .faqP, .loaderSection.user p, .dropboxDrag.desktop, .loaderSection.filters p, #appliedHeader, #weightShowContainer, #resultsNav, .sumSectionImgContainer{
        display: none;  
    }

    #baselineSelect-button{
        max-width: unset !important;
    }
    .backButton{
        top: -11px;
    }
    .backButton div{
        text-transform: uppercase;
        color: #353535;
        font-size: 14px;
        top: -1px;
        margin-left: -5px;
    }
    .backButton img{
        display: none;
    }
    .backButton .mobilearrow{
        width: 11px;
        height: 11px;
        /* background: red; */
        display: inline-block;
        border-top: 2px solid #353535;
        border-left: 2px solid #353535;
        transform: rotate(-45deg);
        top: 1px;
        position: relative;
    }
    #header-pinned.sample, #header-pinned.user, #header-pinned.filters, #header-pinned.weight{
        width: calc(100% - 110px);
        right: 0px;
        background: white;
        left: inherit;
    }
    #header-pinned.sample .site-logo, #header-pinned.user .site-logo, #header-pinned.filters .site-logo, #header-pinned.weight .site-logo{
        display: none;
    }


    .ui-selectmenu-button.ui-button{
        max-width: unset;
    }
    #boorgerContainer{
        width: 20px;
        height: 16px;
        position: fixed;
        right: 12px;
        top: 18px;
        display: block;
        z-index: 998;
    }
    #boorgerTop{
        height: 2px;
        background: #353535;
        position: absolute;
        top: 3px;
        width: 20px;
        transform: rotate(0deg);
    }
    #boorgerBottom{
        height: 2px;
        background: #353535;
        position: absolute;
        bottom: 3px;
        width: 20px;
        transform: rotate(0deg);
    }
    #header-pinned{
        z-index: 998;
        width: 100%;
        background: white;
        height: 50px;
    }
    #header-pinned .share-icons .shareThisP{
        right: 32px;
        position: relative;
    }
    .mobileTabs{
        top: 55px;
        padding-top: 5px;        
        display: block;
        position: fixed;
        z-index: 999;
        left: 0px;
        font-size: 18px;
        width: 100%;
        background: #fff;
        cursor: pointer;
    }
    .mobileTabs div{
        width: 50%;
        display: inline-block;
        text-align: center;
        float: left;
        padding-bottom: 3px;
        border-bottom: 1px solid #ffffff;
    }
    .mobileTabs div.active{
        color: #1696d2;
        border-bottom: 1px solid #1696d2;
    }
    .mobileTabFilterList.disabled{
        color: #d2d2d2;
        pointer-events: none;
    }
    .loaderHeader{
        visibility: hidden;
    }

    .loaderHome .loaderHeader{
        visibility: initial;
    }
    .inlineIcon{
        width: 25px;
    }
    .loaderHome, .loaderSection p, #loadingStatusContainer{
        max-width: 650px;
        width: calc(100% - 60px);
        line-height: 182%;

    }
    .sampleButton{
        text-align: center;
    }

    .buildings.loader, .buildings.results {
        width: 100%;
        max-width: 350px;
    }
    #homeButtonRow{
        margin-left: 0px;
        margin-right: 0px;
        width: calc(100% - 40px);
        font-size: 16px;
    }
    h3.loaderSubHeader{
        font-size: 24px;
        font-weight: 100;
    }
    h2.loaderHeader{
        font-size: 26px;
    }
    .loaderHome{
        font-size: 16px;
    }

    .loaderSection{
        width: calc(100% - 60px) !important;
        /*left: 30px !important;*/
        left: calc(50% - 220px) !important;
        max-width: 440px;
    }
    .loaderSection.user{
        padding-bottom: 26px;
    }
    #uploadErrors{
        max-width: 440px;
        top: 55px;
        height: 0px;
        position: absolute;
    }
    #uploadInstructionContainer{
        width: 100%;
        margin-left: 0px;
    }
    #uploadInstructions{
        position: initial;
        width: 100%;
        display: block;
        left: 0px;
        margin: 0 auto;
        font-size: 14px !important;
    }
    .instructionRow span{
        display: inherit;
        position: relative;
        font-size: 14px;
        top: -21px;
        left: 28px;
        width: calc(100% - 23px);
        margin-right: 0px;
        font-size: 18px;
    }
    #dropbox.uploadError{
        margin-top: 40px;
    }
    #dropbox{
        display: block;
        width: 100%;
        left: 0px;
        position: relative;
        margin: 0 auto;
        height: 100px;
    }
    #dropboxIcon {
        width: 65px;
        margin: 0 auto;
        margin-top: -35px;
        display: block;
        position: absolute;
        right: 18px;
        margin: 0;
        top: -30px;
    }
    #innerDropbox{
        height: 91px;
        width: 100%;
        left: 0px;
    }
    #dropboxClick{
        font-weight: 100;
        font-size: 24px;
        color: #353535;
        top: -158px;
        position: relative;
        /*left: -66px;*/
        text-align: left;
    }
    .dropboxDrag.mobile{
        display: block;
        position: relative;
        top: 10px;
        left: 0px;
        color: #E88E2D;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
        width: calc(100% - 120px);
    }

    .instructionNote{
        width: 100%;
        font-size: 16px;
    }
    .instructionRow {
        margin-bottom: -5px;
    }
    #uploadErrors{
/*        position: fixed;
        bottom: 0px;
        background: white;
        margin-bottom: 14px;*/
    }
    #uploadLatLonContainer{
        width: 100%;
        margin: 0 auto;
        left: 0px;
        position: relative;
        top: 27px;
    }
    #uploadLatLonContainer .loaderHeader{
        visibility: inherit;
        font-size: 24px;
        font-weight: 100;
    }
    #latContainer, #lonContainer{
        width: 100%;
        margin-right: 0px;
    }
    #uploadLatLonContainer .ui-selectmenu-button.ui-button{
        display: inline-block;
        float: left;
        width: calc(100% - 95px);
        font-size: 14px;
        margin-bottom: 35px;
        margin-right: 0px;
    }
    #uploadLatLonContainer .ui-selectmenu-button.ui-button .ui-selectmenu-text{
        font-size: 14px;
    }
    #uploadLatLonContainer .inputLabel{
        width: 83px;
    }

    #sampleCardContainer{
        width: 100%;
    }
    .sampleRect, .sampleCard{
        width: 100%;
    }
    #sampleCardContainer.single .mobileOnlyHeader{
        display: none;
    }
    .sampleCard.singleCard .sampleRect{
        margin-left: 0px;
    }
    .mobileOnlyHeader{
        display: block;
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    .sampleCard{
        margin-bottom: 30px;
        left: 0px;
    }
    .sampleName{
        position: absolute;
        top: 19px;
        left: 16px;
        font-size: 18px;
        font-weight: bold;
    }
    .sampleCity{
        left: 16px;
        position: absolute;
        top: 45px;
    }
    .sampleImg.wifi{
        height: 67px;
        right: -12px;
        top: 13px;
    }
    .sampleImg.three11{
        height: 60px;
        top: 14px;
        right: 10px;
    }
    .sampleImg.bike{
        position: absolute;
        height: 85px;
        right: 15px;
        top: -15px;
    }
    .sampleDetails.active{
        width: 100%;
    }
    .loaderSection.sample p{
        width: 100%;
        font-size: 24px;
        font-weight: 100;
        text-align: left;
        line-height: 1.2;
    }
    .loaderHome, .loaderSection p, #loadingStatusContainer {
/*        max-width: 650px;
        width: calc(100% - 60px);
        width: 439px;
        font-size: 16px;
        text-align: left;*/
        /*line-height: 182%;*/
    }
    #advancedTextOverlaySample, #advancedTextOverlayUser{
        top: -13px;
        pointer-events: auto;
        cursor: pointer;
        border: 2px solid #1696d2;
        background: #fff;
        padding: 12px 20px;
        width: calc(50% - 60px);
        text-align: center;
        right: 0px;
        left: initial;
        display: inline-block;
    }

    #advancedTextOverlaySample img, #advancedTextOverlayUser img{
        display: none;
    }
    .runButton.user{
        width: calc(50% - 60px);
        margin: 0 auto;
        display: inline-block;
    }
/*    .loaderSection.user .runButton.user{
        width: calc(50% - 60px);
    }*/
    #uploadButtonContainer{
        width: 100%;
        margin: 0 auto;
        left: 0px;
        top: 47px;
    }
    #sampleButtonContainer{
        width: 100%;
    }
    #sampleDownloadContainer{
        padding-top: 0px;
    }
    #mobileAdvanced.hidden{
        display: none;
    }
    #mobileAdvanced{
        display: block;
    }
    #mobileAdvancedMenu, #mobileMainMenu, #mobileTT{
        display: block;
        position: fixed;
        top: 50px;
        left: -1000px;
        width: 100%;
        height: calc(100% - 100px);
        z-index: 999999;
        background: white;
        padding-top: 100px;
    }
    #ttHead{
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 20px;
        width: calc(100% - 60px);
        margin-left: 30px;
    }
    #ttBody{
        font-size: 16px;
        font-style: italic;
        width: calc(100% - 60px);
        margin-left: 30px;
    }
    #mobileMainMenu{
        z-index: 999998;
    }
    #mobileAdvancedMenu div, #mobileMainMenu div{
        font-weight: 100;
        font-size: 2em;
        margin-bottom: 30px;
        width: 100%;
        text-align: center
    }
    #mobileAdvancedMenu div:hover, #mobileMainMenu div:hover{
        color: #1696d2;
        font-weight: normal;
    }
    #mobileAdvancedBack img{
        height: .9em;
        margin-right: 10px;
        position: relative;
        top: 4px;
    }
    #mobileAdvancedBack{
        position: absolute;
        bottom: 40px;
        color: #1696d2;
    }
    #mobileFaq a{
        color: #353535;
    }
    #mobileAdvanced span{
        width: 22px;
        height: 22px;
        border-top: 2px solid #353535;
        border-right: 2px solid #353535;
        display: inline-block;
        transform: rotate(45deg);
        position: relative;
        top: 3px;
    }
    #mobileAdvanced:hover span{
        border-top: 3px solid #1696d2;
        border-right: 3px solid #1696d2;
    }
    .button.footer{
        width: calc(100% - 60px);
        text-align: center;
    }
    .loaderSection.filters{
        width: 100%;
    }
    .loaderSection.filters .mobileOnlyHeader{
        position: absolute;
        top: 100px;
        left: 0px;
    }
    #columnSelect-button{
        max-width: unset;
    }
    #filterColumnContainer{
        width: 100%;
    }
    #filterControls{
        width: 100%;
        margin: 0 auto;
        display: block;
        float: inherit;
    }
    #filterControls.date{
        left: initial;
        position: initial;
    }
    #filterControls.date #columnSelect-button{
        width: initial;
        max-width: initial;
    }
    #filterListContainer{
        display: none;
    }
    .loaderNote.filters{
        width: 100%;
        font-size: 16px;
    }
    #numericSelect, #textSelect{
        width: calc(100% - 109px);
    }
    .loaderNote.filters.string.biggun.active{
        font-size: 16px;
        margin-top: -35px;
    }
    #startDateContainer, #endDateContainer{
        width: calc(50% - 31px);
    }
    input[type=date]{
        width: 100%;
        font-size: 11px;
    }
    #dateTo{
        margin-right: 10px;
        margin-left: 10px;
    }
    #filterListContainer{
        width: 100%;
        margin: 0px auto;
        left: 0px;
        position: relative;
    }
    .filterTag{
        width: calc(100% - 30px);
        margin-right: 0px;
    }
    .filterTagText{
        width: calc(100% - 27px);
    }
    .cancelButton{
        margin-right: 30px;
    }
    .advancedButtonRow{
        width: 100%;
    }
    .advancedButtonRow .button {
        width: calc(50% - 60px);
        display: inline-block;
    }

    .loaderSection.loading{
        width: calc(100% - 20px);
        padding: 30px 10px 30px 10px;
        padding-bottom: 200%;
    }
    .loaderSection.loading .loaderHeader{
        visibility: initial;
        font-weight: 100;
        font-size: 30px;
    }
    #loadingContainer{
        width: 100%;
        max-width: 560px;
    }
    #loadingStatusContainer{
        font-size: 20px;
        line-height: 1.2;
    }
    .loaderSection.weight{
        width: 100%;
    }
    .loaderSection.weight p{
        width: 100%;
        margin: 0 auto;
        line-height: 18px;
        text-align: left;
        margin-bottom: 0px;
        font-size: 16px;
    }
    #weightContainer{
        width: 100%;
    }
    #weightMenuContainer{
        width: 100%;
        margin-top: -39px;
    }
    #weightSelect-button{
        width: 100%;
        max-width: unset;
        margin-right: 0px;
        margin-top: 15px;
    }
    .mobileWeightTab{
        width: 100% !important;
    }
    #weightErrorContent{
        margin-left: -58px;
        width: calc(100% + 81px);
    }
    #weightError{
        width: calc(100% - 33px);
    }
    #weightErrorContent .errorText{
        width: calc(100% - 40px);
    }
    .loadingErrorImg{
        width: 100%;
    }
    .loadingErrorText{
        font-size: 15px;    
    }
    #loadingErrorContainer{
        width: calc(100% - 50px);
    }
    .errorNavComponent{
        margin: 0 auto !important;
        display: block;
        margin-bottom: 20px !important;
        float: initial;
        width: fit-content;
    }
    .summaryColumn{
        width: 100%;
    }
    .summaryColumn.lat, .summaryColumn.lat .deetText, .summaryColumn.lat .deetRow{
        margin-bottom: 0px;
    }




/************ RESULTS ****************/
    #resultsHeader{
        padding-right: 30px;
        padding-left: 30px;
        width: calc(100% - 60px);
        font-size: 18px;
    }
    #resultsHeader .loaderHeader{
        visibility: initial;
    }
    .buildings.results{
        width: calc(100% - 20px);
    }
    .results.intro{
        font-size: 16px;
        line-height: 2;
    }
    .resultsHeader{
        font-size: 18px;
    }
    #resultsFiguresBottom, #resultsFiguresTop {
        width: calc(100% - 60px);
        margin-left: 30px;
    }
    #baselineSelect-button{
        height: 29px;
        margin-top: -49px;
        left: -7px;
    }
    #mapControls{
        margin-right: 0px;
        width: 100%;
    }
    #mapControls .controlContainer{
        width: 100%;
    }
    .controlDescription{
        width: calc(100% - 30px);
    }
    #mapSlideContainer{
        width: calc(100% + 67px);
        left: -30px;
    }
    .warningIcon{
        left: -46px;
    }
    .summaryRows span {
        /*text-align: left;*/
        margin-bottom: 0px;
    }
    .summaryRows {
        position: relative;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 9px;
    }
    .summaryColumn .deetSubHed{
        font-size: 24px;
        font-weight: 100;
    }
    .summaryHeader, .summaryHeadName{
        font-size: 16px;
    }
    .summaryHeadName{
        width: calc(100% - 25px);
    }
    .headerIcon {
/*        margin-left: 0px !important;
        width: 25px;
        top: 5px;
        margin-right: 6px;*/
        display: none;
    }

    #legendSlideContainer{
        width: calc(100% + 33px);
    }
    .controlName{
        font-size: 16px;
    }
    #mapButtonContainer{
        clear: both;
        width: 100%;
    }
    #mapDataButton-button{
        width: 100%;
        left: 0px;
        display: block;
        position: relative;
    }

    #mapImageButton-button{
        width: 100%;
        left: 0px;
        display: block;
        position: relative;
        margin: 0px;
    }
    #mapDataButtonOverlay{
        clear: both;
        width: calc(100% - 30px);
        left: -3px;
        text-align: center;
    }
    .mapButton.mapImg.diff{
        width: calc(100% - 20px);
        margin: 0px;
        text-align: center;
    }
    #mapImageButtonOverlay{
        display: none;
        width: calc(100% - 30px);
        left: -1px;
        top: 72px;
        text-align: center;
    }
    #barCategories{
        width: 100%;
        display: block;
        float: left;
        clear: both;
    }
    .barCategoryLabel, .barCategoryDescription{
        font-size: 16px;
    }
    .resultsCopy.bars{
        font-size: 16px;
        margin-top: -13px;
    }
    #barChartContainer{
        width: 100%;
        left: -60px;
    }

    #uploadLatLonContainer h4{
        margin-top: 43px;
        margin-bottom: 36px;
    }
    .mobileLeg{
        display: block;
    }
    .overunder{
        display: none;
    }
    .bar_full_name{
        font-size: 12px;
    }
    #barChart{
        top: -70px;
    }
    #barButtonContainer{
        top: -50px;
        /* right: -60px; */
        width: 100%;
        left: 60px;
    }
    .barButton{
        width: calc(100% - 20px);
        text-align: center;
        margin-bottom: 20px;
        left: 0px;
        position: relative;
        float: initial;
    }

}
@media(max-width: 550px){
    #homeButtonRow .button{
        width: 100%;
    }
    .mobileOnly.or{
        display: block;
        width: calc(100% + 40px);
        color: #696969;
        display: block;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    #orLine{
        display: block;
        width: 100%;
        height: 1px;
        background: #696969;
        top: 13px;
        position: relative;       
    }
    #orOr{
        display: block;
        background: white;
        /* padding: 10px; */
        z-index: 2;
        position: relative;
        width: 55px;
        text-align: center;
        margin: 0 auto;
    }

}
@media(max-width: 500px){
    #uploadLatLonContainer h4 {
        margin-bottom: 28px;
        margin-top: 30px;
    }
    #uploadLatLonContainer .ui-selectmenu-button.ui-button{
        margin-bottom: 16px;
    }
    #uploadButtonContainer{
        top: 39px;
    }
    #widthBelow1000{
        display: none;
    }
    #widthBelow1200{
        display: none;
    }
    #widthBelow768{
        display: none;
    }
    #widthBelow500{
        display: block;
    }
    .loaderSection{
        left: 30px !important;
    }
    #uploadErrors{
/*        left: 30px;
        width: calc(100% - 60px);*/
    }
    #advancedTextOverlaySample, #advancedTextOverlayUser{
        top: 67px;
        pointer-events: auto;
        cursor: pointer;
        border: 2px solid #1696d2;
        background: #fff;
        padding: 12px 20px;
        width: calc(100% - 44px);
        text-align: center;
        left: 0px;
        position: initial;
    }
    .runButton.user{
        width: calc(100% - 44px);
        margin: 0 auto;
        display: inline-block;
        position: initial;
        margin-top: 20px;
    }
    #sampleButtonContainer {
        top: -20px;
        position: relative;
        margin-bottom: -19px;
    }
}
@media(max-width: 400px){
    #filterControls{
        margin-top: -30px;
    }
}
