/********************************************/
/**************** LAYOUT ********************/
/********************************************/

.resultsContainer.wrapper{
    display: none;
    max-width: 1400px;
    margin: 0 auto;
}
#resultsHeader{
    width: 860px;
    display: block;
    margin: 0 auto;
    margin-top: 140px;
}
.resultsHeaderLevel{
    font-weight: normal;
}
#resultsFiguresBottom, #resultsFiguresTop{
    width: calc(100% - 108px);
    margin-left: 53px;
    display: inline-block;
}
#resultsDivider{
    display: none !important;
    width: 100%;
    height: 2px;
    background: #FDB160;
    margin-top: 50px;
    margin-bottom: 50px;
}
.resultsHeader.maps, .resultsHeader.bars{
    display: inline-block;
}
#baselineSelectMap-button, #baselineSelectBar-button{
    display: inline-block;
    top: 9px;
    margin-left: 3px;
    height: 36px;
}
#baselineSelectMap-button .ui-selectmenu-text, #baselineSelectBar-button .ui-selectmenu-text{
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    padding-right: 2px;
    left: 0px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
#baselineSelectMap-button, #baselineSelectBar-button{
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    border: none;
    border-bottom: 3px solid #1696d2;
    z-index: 2;
}

#subgeoSelect-button{
    border: none;
    border-bottom: 3px solid #FDBF11;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 30px;
    float: left;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    position: relative;
    height: 36px;
    min-width: 150px;
}
#subgeoSelect-button span{
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    left: 0px;
}
#subgeoSelect-button:before{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background: #fdbf11;
    left: -21px;
    top: 20px;
    border-radius: 100%;
    opacity: 0;
}
#subgeoSelect-button.show:before{
    opacity: 1;
}

/********************************************/
/***************** TEXT *********************/
/********************************************/
.results.intro{
    font-size: 24px;
    font-weight: 300;
    line-height: 146%;
    text-align: center;
    width: 100%;
}
.resultsHeader{
    /*font-weight: bold;*/
    font-size: 18px;
    margin-bottom: 37px;
}
.resultsCopy{
    font-size: 16px;
}
.startOverInline{
    color: #1696d2;
    cursor: pointer;
}
.startOverInline:hover{
    text-decoration: underline;
}

/********************************************/
/***************** HEADER *******************/
/********************************************/

.resultsNav{
    display: inline-block;
    float: left;
    margin-right: 48px;
    font-size: 18px;
    cursor: pointer;
}
.resultsNav.faq a{
    text-decoration: none;
    color: #353535;
}
#resultsNav{
    width: 384px;
    z-index: 100;
    position: fixed;
    top: 13px;
    right: 73px;
    height: 0px;
}
.resultsNav:hover, .resultsNav.faq a:hover{
    color: #1696d2;
    font-weight: bold;
}
#resultsSubnav{
    width: 100%;
    height: 50px;
    background: #f5f5f5;
    position: fixed;
    top: -200px;
    z-index: 199999;
    font-size: 18px;
}
.resultsHeaderSubnav.dataName{
    font-weight: bold;
    margin-left: 10px;
}
#resultsHeaderSubName .geographyLevelText{
    margin-left: 11px;
}
.resultsHeaderSubnav{
    margin-top: 16px;
    display: inline-block;
}
#resultsHeaderSubName, #resultsNavDataName{
    display: inline-block;
    float: left;
}
#resultsNavDataName{
    font-weight: normal;
}
.resultsHeaderSubnav.weight, .resultsHeaderSubnav.filters{
    float: right;
    margin-right: 18px;
    color: #1696d2;
    font-size: 16px;
    margin-top: 17px;
    font-weight: bold;
    cursor: pointer;
}


/*<div id = "advancedTextOverlayNav">Advanced options <img class = "navNohoverImg" src = "images/menuArrowNav.png"><img class = "navHoveImgr" src = "images/dropdown-bg.png"></div>
*//*navHover*/
.navHoveImgr{
    display: none;
}
#advancedTextOverlayNav.navHover .navNohoverImg{
    display: none;
}
#advancedTextOverlayNav.navHover .navHoveImgr{
    display: inline-block;
}
#advancedTextOverlayNav.navHover{
    color: #1696d2;
    font-weight: bold;
}

#advancedTextOverlayNav{
    pointer-events: none;
    color: #353535;
    font-size: 18px;
    position: absolute;
    left: inherit;
    right: 14px;
    top: 1px;
    z-index: 2;
    background: white;
}
#advancedTextOverlayNav img{
    width: 20px;
    margin-left: 4px;
}
#advancedOptionsHeader-button{
    width: 190px;
    display: inline-block;
    float: right;
    top: -33px;
    border: none;
}

/********************************************/
/*************** SUMMARY ********************/
/********************************************/
.summaryContainer{
    /*display: none;*/
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
padding: 10px;
    padding-left: 0px; 
    overflow: hidden;
    margin-bottom: 53px;
}
.summaryContainer.visible.onLoad #sumSectionContainer, .summaryContainer.visible.onLoad .paramRow{
    display: none;
}
.summaryContainer.visible.onLoad .summaryHeader{
    margin-bottom: 0px;
}
.summaryContainer.clone{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    /*top: -10000px;*/
    /*left: -10000px;*/
}
.summaryHeader{
    position: relative;
    margin-bottom: 30px;
}
#sumSectionContainer{
    background: #F5F5F5;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}
.sumSectionImgContainer{
    float: left;
    height: 0px;
}
.sumSectionImg{
    width: 70px;
    margin-right: 50px;
}
.sumSectionImg.three11{
    width: 125px;
}
.sumSectionImg.bike{
    width: 71px;
    margin-top: -16px;
}
.sumSectionImg.user{
    top: -47px;
    width: 60px;
    position: relative;
    opacity: 0;
}
.sumSectionImg.housing {
    width: 90px;
    margin-right: 40px;
    margin-top: 10px;
}
.sumSectionImg.playgrounds{
    width: 108px;
    margin-right: 40px;
    margin-top: 9px;
}
.sumSectionImg.hotspots{
    width: 113px;
    margin-right: 26px;
    margin-top: 8px;
}
.sumSectionImg.electric{
width: 140px;
    margin-right: 12px;
}
.sumSectionText{
    display: none;
}
.summaryStrong{
    font-weight: bold;
}
.summaryHeadName{
    font-size: 18px;
}
.headerX{
    /*float: right;*/
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    right: -10px;
    cursor: pointer;
}
.headerX.tall{
    /*top: 6px;*/
}
.headX.vert{
width: 2px;
    height: 18px;
    background: #1696d2;
    position: absolute;
    left: 8px;
}
.headX.hor{
    width: 18px;
    height: 2px;
    background: #1696d2;
    position: absolute;
    top: 8px;
}
#sumContainer{
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}
.summaryColumn{
    width: calc(25% - 39px);
    margin-right: 52px;
    display: inline-block;
    float: left;
    font-size: 14px;
    word-break: break-all;
    margin-bottom: 10px !important;
}
.summaryColumn.lat{
    margin-right: 0px;
}
.summaryColumn .deetSubHed{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 6px;
}
.summaryRows{
    position: relative;
    float: left;
    clear: both;
}
.sumRowNum{
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.sumRowText{
    display: inline-block;
    float: left;
}
.summaryRows .sumRowNum{
    font-weight: 900;
    color: #1696d2;
    font-weight: 900;
    color: #1696d2;
    display: inline-block;
    text-align: right;
    margin-bottom: 9px;
}
.summaryRows.summaryNegative .sumRowNum{
    /*color: #E88E2D;*/
    color: #353535;
}
.summaryRows.summaryWarning .sumRowNum{
    color: #E88E2D;
}
.summaryRows.hidden{
    display: none;
}
.summaryRows.bottomRow{
    border-top: 1px solid #353535;
    padding-top: 3px;
}
.summaryRows.bottomRow .sumRowNum{
    margin-bottom: 0px;
}
.warningIcon{
    position: absolute;
    left: -25px;
    top: 0px;
    width: 21px;
}
.paramRow{
    font-size: 18px;
    display: table;
    width: 100%;
    /*margin-bottom: 20px;*/
}
.paramRow span{
    font-weight: 900;
}
.paramRow div{
    margin-bottom: 20px;
}
.deetRow.none.summaryEl img{
    display: none;
}
.deetRow.none.summaryEl .deetText{
    font-size: 17px;
    font-style: italic;
    display: inline;
}



/********************************************/
/*********** DOWNLOAD BUTTONS ***************/
/********************************************/
#barButtonContainer{
    display: inline-block;
    clear: both;
    float: right;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
#mapButtonContainer{
    float: right;
    position: relative;
    margin-top: 36px;
}
.mapButton.active, .barButton.active{
    display: inline-block;
}
.mapButton, .barButton{
    padding: 10px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    border: 1px solid #1696d2;
    color: #1696d2;
    display: none;
    margin-right: 20px;
    float: right;
    cursor: pointer;
}
.barButton.barImg{
    margin-right: 0px;
}
.mapButton:hover, .barButton:hover{
    background: #1696d2;
    color: #fff;
}
.mapDownloadComponent{
    display: none;
}
.mapDownloadComponent.active{
    display: block;
}
#mapDataButtonOverlay{
    float: right;
    position: absolute;
    right: 3px;
    z-index: 1;
    background: white;
    pointer-events: fill;
    top: 1px;
    color: #1696d2;
    padding: 10px 15px;
    cursor: pointer;
}
#mapDataButtonOverlay:hover{
    background: #1696d2;
    color: #fff;
}
#mapDataButtonOverlay img{
    width: 20px;
    margin-left: 10px;
}
#mapDataButton-button{
    float: right;
    width: 200px;
    height: 39px;
    border: 1px solid #1696d2;
}
#mapDataButton-button.ui-state-hover, #mapDataButton-button:hover{
    background: #1696d2;
    color: white;
}


#mapImageButtonOverlay{
    float: right;
    position: absolute;
    right: 225px;
    z-index: 1;
    background: white;
    pointer-events: fill;
    top: 1px;
    color: #1696d2;
    padding: 10px 16.5px;
    cursor: pointer;
}
#mapImageButtonOverlay:hover{
    background: #1696d2;
    color: #fff;
}
#mapImageButtonOverlay img{
    width: 20px;
    margin-left: 10px;
}
#mapImageButton-button{
    float: right;
    width: 260px;
    height: 39px;
    border: 1px solid #1696d2;
    margin-right: 20px;
}
#mapImageButton-button.ui-state-hover, #mapImageButton-button:hover{
    background: #1696d2;
    color: white;
}
