#toc{
    left: 0px;
    top: 51px;
}
#tocClose, #boorgerContainer, #chaptersTablet{
    display: none;
}
#isTablet, #isPhone{
    display: none;
}
@media(max-width: 1000px){
    #isTablet{
        display: block;
    }
    #isPhone{
        display: none;
    }
    #toc{
        background: white;
        z-index: 3;
        width: 400px;
        left: -600px;
        top: 51px;
        padding-left: 100px;
    }
    #pageContainer{
        left: 0px;
        width: 100%;
    }
    #chaptersTablet{
        display: block;
        position: fixed;
        top: 49px;
        color: #1696d2;
        background: #fff;
        font-weight: bold;
        border: 1px solid #d2d2d2;
        padding: 12px;
        left: 0px;
        z-index: 2;
        cursor: pointer;
    }
    #chaptersTablet div{
        display: inline-block;
        float: right;
        background-repeat: no-repeat;
        height: 20px;
        width: 12px;
        margin-left: 8px;
        position: relative;
        top: 0px;
        background-image: url(../images/arrow.png);
        background-size: contain;
    }
    #chaptersTablet:hover{
        background: #1696d2;
        color: #fff;
        border: 1px solid #1696d2;
    }
    #chaptersTablet:hover div{
        background-image: url(../images/arrowWhite.png);
    }
    #tocClose{
        position: absolute;
        top: 44px;
        right: 40px;
        width: 23px;
        height: 23px;
        background-image: url(../images/closeBlack.png);
        background-size: contain;
        cursor: pointer;
        display: block;
    }
    #tocClose:hover{
        background-image: url(../images/closeBlue.png);
    }
    #resourcesContainer {
        width: calc(100% - 44px);
        left: 20px;
    }

}
@media(max-width: 768px){
    #isPhone{
        display: block;
    }
    #isTablet{
        display: none;
    }
    #page{
        width: calc(100% - 64px);
    }
    body{
        margin: 0px;
    }
    #chaptersTablet, #tocClose{
        display: none;
    }
    .expandContainer{
        border-left: 32px solid rgb(229, 229, 229);
        border-right: 32px solid rgb(229, 229, 229);
        margin-left: -32px;
        width: calc(100% - 56px);
    }
    .contentBlock.title .eyebrow, .eyebrow{
        font-size: 13px;
    }
    .title-linkback.full, #dblcolon{
        display: none !important;
    }
    .contentBlock.title.intro{
        font-size: 28px;
    }

    .contentBlock.title.intro div span{
        font-size: 26px;
    }
    .contentBlock.title.question{
        font-size: 23px;
        margin-bottom: 20px;
    }
    .contentBlock.video.intro{
        margin-top: 50px;
    }
    .share-icons{
        right: 33px !important;
        top: 1px;
    }
    #header-pinned .share-icons .shareThisP{
        border-left: none !important;
    }
    .quoteContainer{
        width: 100%;
    }
    .quoteQuote{
        font-size: 18px;
        text-align: left;
    }
    .quoteSource{
        text-align: left;
        padding-left: 0px;
        border-top: none;
    }
    .quoteSource:before{
        content: '';
        width: 50px;
        height: 2px;
        background: #E88E2D;
        position: relative;
        top: -12px;
        display: block;
    }
    .quoteSourceName{
        font-size: 16px;
    }
    .quoteSourceInfo{
        font-size: 14px;
    }
    #boorgerContainer{
        width: 20px;
        height: 16px;
        position: absolute;
        right: 12px;
        top: 18px;
        display: block;
    }
    #boorgerTop{
        height: 2px;
        background: #353535;
        position: absolute;
        top: 3px;
        width: 20px;
        transform: rotate(0deg);
    }
    #boorgerBottom{
        height: 2px;
        background: #353535;
        position: absolute;
        bottom: 3px;
        width: 20px;
        transform: rotate(0deg);
    }
    #toc{
        left: 0px !important;
        top: -1200px;
        width: calc(100% - 40px);
        padding-left: 20px;
        font-size: 14px;
    }
}
@media(max-width: 415px){
    .printIcon{
        display: block;
        float: left;
        height: 50px;
    }
    .contentBlock.title.takeaways{
        padding-bottom: 54px;
    }
}