.print.cover{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
body.print #toc{
    display: none;
}
body.print #pageContainer, body.print #page{
    width: 8in;
    left: 0px;
    top: 0px;
}
body.print .nonPrintView{
    display: none;
}
body.print span.printView{
    display: initial;
    font-weight: 300;
}
body.print .contentBlock.title{
    padding-top: 0px;
}
body.print p.printView{
    display: block;
    line-height: 1.6;
    margin-top: 40px;
}
body.print .mainContentUl{
    padding-left: 19px;
}
body.print .mainContentUl li {
    margin-bottom: 10px;
    line-height: 1.5;
}
body.print .contentBlock.urbanLogo{
    display: block;
}
.urbanLogo{
    width: 120px;
    margin-bottom: 10px;
}
.urbanLogo img{
    width: 100%;
}
body.print .printParagraph{
    font-style: italic;
}
body.print .contentBlock.paragraph p, .caseStudySubEl.paragraph{
    line-height: 1.5;
    margin-bottom: 20px;
}
body.print h3{
    margin-bottom: -8px;
    margin-top: 33px;
}
#bottomLogo{
    width: 610px;
    float: right;
    margin-top: 100px;
}
@media print{
  @page {
    size: 210mm 297mm; /* portrait 
    /* you can also specify margins here: */
    margin: 15mm;   
   /*margin-right: 45mm;  for compatibility with both A4 and Letter */
  }
   body.print a:after{
    content: none !important;
   }
   .page-break { height:0; page-break-after:always; margin:0; border-top:none; }
}

