/********************************************/
/********** INDICATOR SELECTION *************/
/********************************************/
#barCategories{
    float: left;
    display: inline-block;
    width: 330px;
    margin-right: 35px;
}
.resultsCopy.bars{
    margin-bottom: 30px;
    width: 100%;
}
.barCategoryRow{
    margin-bottom: 10px;
    cursor: pointer;
}
.barCategoryCheck{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #353535;
    top: 3px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    margin-right: 9px;
}
.barCategoryRow.active .barCategoryCheck{
    color: #1696d2;
    border: 1px solid #1696d2;
}
.barCategoryRow:hover .barCategoryCheck{
    border: 1px solid #fdbf11;
}
.barCategoryRow.active:hover .barCategoryCheck{
    color: #fdbf11;
}
.barCategoryLabel{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}
.barCategoryDescription{
    font-style: italic;
    margin-left: 34px;
}
.barCategoryDescription span{
    margin-left: 5px;
    margin-right: 5px;
    font-style: normal;
    top: -3px;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #353535;
    display: inline-block;
}




/********************************************/
/************* CHART PARTS ******************/
/********************************************/
#barChartContainer{
    float: left;
    display: inline-block;
    width: 935px;
    position: relative;

}
#barChart{
    float: left;
    display: inline-block;    
    top: -110px;
    position: relative;
}
.overunder{
    display: inline-block;
    float: left;
    transform-origin: top left;
    transform: rotate(-90deg);
    top: 598px;
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 900;
    color: #e88e2d;
    left: 20px;
}
.overunder.over{
    float: revert;
    top: 20px;
    right: -110px;
    left: auto;
    position: absolute;
    transform: rotate(90deg);
    color: #73bfe2;
}


.bar_full_name{
    font-size: 14px;
}
.bar_full_name.background{
    fill: #fdbf11;
    opacity: 0;
}
.bar_full_name.hover{
    opacity: 1; 
}

.barDot{
    fill: #1696d2;
}
.barDot.underRepresented{
    fill: #ca5800;
}
.barDot.hover{
    stroke: #fdbf11;
    stroke-width: 4px;
}
.lollipop{
    stroke: #46abdb;
    stroke-width: 2px;
}
.lollipop.underRepresented{
    stroke: #e88e2d;
}
.lollipop.background{
    stroke: #fce39e;
    stroke-width: 8px;
    opacity: 0;
}
.lollipop.background.hover{
    opacity: 1;
}
.lollipop.foreground.hover{
    stroke-width: 4px;
}
.tick line{
    stroke: #dedddd;
    stroke-width: .5px;
}
.tick text{
    font-family: Lato;
    font-size: 13px;
}