/********************************************/
/**************** LAYOUT ********************/
/********************************************/

.resultsContainer.wrapper{
    display: none;
    max-width: 1400px;
    margin: 0 auto;
}
#resultsHeader{
    width: 860px;
    display: block;
    margin: 0 auto;
}
#resultsFiguresBottom, #resultsFiguresTop{
    width: calc(100% - 100px);
    margin-left: 50px;
    display: inline-block;
}
#resultsDivider{
    display: none;
    width: 100%;
    height: 2px;
    background: #E88E2D;
    margin-top: 50px;
    margin-bottom: 50px;
}
.resultsHeader.maps{
    display: inline-block;
}
#baselineSelect-button{
    display: inline-block;
    top: 10px;
}
#baselineSelect-button.pop{
    max-width: 194px;
}
#baselineSelect-button.under_poverty_line{
    max-width: 248px;
}
#baselineSelect-button.no_bband{
    max-width: 535px;
}
#baselineSelect-button.cb_renter_hh{
    max-width: 430px;
}
#baselineSelect-button.seniors{
    max-width: 199px;
}


/********************************************/
/***************** TEXT *********************/
/********************************************/
.results.intro{
    font-size: 24px;
    font-weight: 300;
    line-height: 146%;
    text-align: center;
    width: 100%;
}
.resultsHeader{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 37px;
}
.resultsCopy{
    font-size: 16px;
}


/********************************************/
/***************** HEADER *******************/
/********************************************/

.resultsNav{
    display: inline-block;
    float: left;
    margin-right: 48px;
    font-size: 18px;
    cursor: pointer;
}
.resultsNav.faq a{
    text-decoration: none;
    color: #353535;
}
#resultsNav{
    width: 384px;
    z-index: 100;
    position: fixed;
    top: 13px;
    right: 73px;
}
#advancedTextOverlayNav{
    pointer-events: none;
    color: #353535;
    font-size: 18px;
    position: absolute;
    left: inherit;
    right: 14px;
    top: 1px;
    z-index: 2;
    background: white;
}
#advancedTextOverlayNav img{
    width: 20px;
    margin-left: 4px;
}
#advancedOptionsHeader-button{
    width: 190px;
    display: inline-block;
    float: right;
    top: -33px;
    border: none;
}

/********************************************/
/*************** SUMMARY ********************/
/********************************************/
.summaryContainer{
    /*display: none;*/
    border-top: 1px solid #353535;
    /*width: 650px;*/
    border-bottom: 1px solid #353535;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    padding: 25px;    
    overflow: hidden;
    margin-bottom: 53px;
}
.summaryContainer.visible{
    height: 29px;
}
.summaryContainer.clone{
    position: fixed;
    top: -10000px;
    left: -10000px;
}
.summaryHeader{
    position: relative;
    margin-bottom: 30px;
}
.summaryStrong{
    font-weight: bold;
    margin-right: 10px;
}
.summaryHeadName{
    font-size: 22px;
}
.headerX{
    /*float: right;*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.headX.vert{
    width: 2px;
    height: 25px;
    background: #1696d2;
    position: absolute;
    left: 11.5px;
}
.headX.hor{
    width: 25px;
    height: 2px;
    background: #1696d2;
    position: absolute;
    top: 11.5px;
}
.summaryRows span{
    font-weight: 900;
    color: #1696d2;
    font-weight: 900;
    color: #1696d2;
    width: 40px;
    display: inline-block;
    text-align: right;
    margin-bottom: 9px;
}
.paramRow{
    font-size: 18px;
    /*margin-bottom: 20px;*/
}
.paramRow span{
    font-weight: 900;
}
.paramRow div{
    margin-bottom: 20px;
}



/********************************************/
/*********** DOWNLOAD BUTTONS ***************/
/********************************************/
#barButtonContainer{
    display: inline-block;
    clear: both;
}
#mapButtonContainer{
    width: 1150px;
    float: right;
    left: -80px;
    position: relative;
    margin-top: 36px;
}
.mapButton.active, .barButton.active{
    display: inline-block;
}
.mapButton, .barButton{
    padding: 10px;
    width: fit-content;
    border: 1px solid #1696d2;
    color: #1696d2;
    display: none;
    margin-right: 20px;
    float: right;
    cursor: pointer;
}
.mapButton:hover, .barButton:hover{
    background: #1696d2;
    color: #fff;
}