/********************************************/
/**************** LAYOUT ********************/
/********************************************/

#resultsContainer{
    display: none;
}


/********************************************/
/***************** TEXT *********************/
/********************************************/
.results.intro{
    font-style: 24px;
    font-weight: 100;
    line-height: 146%;
    text-align: center;
    width: 100%;
}